body {
    background: #F3F3F3;
    margin: 0%;
}

header {
    background: #e6ebff;
    height: 35px;
    padding: 10px;
}

div {
    float: left;  
    color: #000;  
    font-size: 30px;  
    font-weight: bold;
}

a {
    background-color: #baf3bf;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #828883;
    color: #FFF;
}

main {
  width: 80%;
  border-left: 1px dotted black;
  margin: 0 auto;
}

h3 {
  color: green;
}

h3:before {
  content: url('punaise.png');
  margin-right: 10px;
}

form {
  width: 50%;
  padding: 10px;
  background-color: #FFFFFF;
}

label {
  display: inline-block;
  width: 150px;
  margin-left: 5px;
}

input[type="submit"] {
  color: green;
}

input[type="reset"] {
  color: red;
}
